
.grid-itemRubrik {
  grid-area: rubrik;
}

.grid-itemNav {
  grid-area: nav;
}

.grid-itemGlobalChat {
  grid-area: globalChat;
}

.grid-itemBildspel {
  grid-area: bildspel;
}

.grid-itemNews {
  grid-area: news;
}

.grid-itemNewsRubrik {
  grid-area: newsRubrik;
}

.grid-item1 {
  grid-area: item1;
}

.grid-item2 {
  grid-area: item2;
}

.grid-item3 {
  grid-area: item3;
}

.grid-item4 {
  grid-area: item4;
}

.grid-item8 {
  grid-area: preFooter;
}

.grid-item9 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "rubrik"
    "nav"
    "globalChat"
    "bildspel"
    "news"
    "newsRubrik"
    "item1"
    "item2"
    "item3"
    "item4"
    "preFooter"
    "footer";
}

@media (min-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "rubrik rubrik"
      "nav nav"
      "bildspel bildspel"
      "globalChat news"
      "preFooter preFooter"
      "footer footer";
  }
  .grid-itemNav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "rubrik rubrik rubrik"
      "nav nav nav"
      "globalChat bildspel news"
      "preFooter preFooter preFooter"
      "footer footer footer";
  }
  .grid-itemNav ul {
    flex-direction: row;
  }
}
