
  .headerFlex {
 
    background-color: #5454c5;
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;

  }


  
  .rubrik{
    
    margin-left: 30%;
    color: #ffc759;
    text-align: center;
    display: flex;
    align-items:center;
  }

  html { font-size: calc(1em + 1vw) }
 
  body {
    background-color: #342056;
  }
