
  .headerFlex {
 
    background-color: 	#1F2833;
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;

  }


  
  .rubrik{
    
    margin-left: 30%;
    color: #ffc759;
    text-align: center;
    display: flex;
    align-items:center;
  }

  html { font-size: calc(1em + 1vw) }
 
h5 {
font-size: 0.4em;
color: #ffc759;
}

h4{

font-size: 1em;
color: #ffc759;
}

.stödlinje{

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
