* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
background-color: black;

}

.Wrapp{

display: flex;
justify-content: center;
height: auto;
align-items: center;
background-color:black;
margin-top: 1.5em;


}


.rubrik{
        color: #ffc759;
        text-align: center;
        display: flex;
        align-items:center;
 }

.navList{
display: flex;
justify-content: space-evenly;
font-size: 1em;

}

.navList a{

  color: white;
  text-decoration: none;

}


.navList a:hover{

  text-decoration: underline;
  
   }
    
