

<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error){ %>
        <div  role="alert" class="errormsg">
            <%= error.msg %>  
          </div>
 

    <% }); %>
<% } %>

<% if(success_msg != '') {%>
    <div  class="successmsg">
        <%= success_msg %>  
      </div>
<%} %>


<% if(error_msg != '') {%>
    <div  role="alert" class="successmsg">
        
        <%= error_msg %>  
      </div>
<%} %>


<% if(error != '') {%>
    <div class="successmsg">
        <%= error %>  
      </div>
<%} %>