
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="css/blackJack.css">
   
</head>
<body class="bodyBlack" style="background-image: url('img/CasinoRug.jpg');  background-size: cover; ">
    <h1>blackJack</h1>
    <p id="message-el"> Want to play a round?</p>
    <p id="winMessage-el"> </p>
    <p id="dealerCards-el">DealerCards: </p>
    <p id="cards-el">Cards:</p>
    <p id="sum-el">Sum:</p>
   
    <div class="flex">
 
       
    <button onclick="startGame() " class="startGameButton" id="clickMessage-el"> START</button>
   <div class="ihopp">
    <button onclick="newCard() " class="newCardButton">NEW CARD</button>
    <button onclick="stoppar() " class="stopButton">STOP</button>
  

   </div>
 
    </div>

    <div class="namn">
        <button class="logoutButton"> <a href="/play">Logout </a></button>
<p><%= name %> </p>
        <p id="player-el"></p>
    </div>
   
    <script src="js/blackJack.js"></script>
    <script src="../models/User.js"></script>
</body>
</html>

