<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="./css/upcoming.css">
    <link rel="stylesheet" href="./css/roulette.css">
</head>
<body>

    <div class="Wrapp">
        <div class="rubrik">
          <h1>NordicViking</h1>
          
         <img src="../img/VikingLogga.gif" alt="Logga"/>
        </div>
      
      <button type="button"> <a href="/play">Take me back</a> </button>
      

       
    </div>

    <div class="rubrik">
        </html><h2> Casino balance: <%= coins %> </h2>
    </div>
    
    <script src="../js/roulette.js"></script>
</body>

