<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>
    <link rel="stylesheet" href="../css/tetris.css">
</head>
<body>
        <div class="Wrapp">
            <div class="rubrik">
              <h1>NordicViking</h1>
            </div>
             <img src="../img/VikingLogga.gif" alt="Logga"/>
          </div>
          <button type="button"> <a href="/play">Take me back</a> </button>
          
          </div>

           
           
        </div>
    


         <template id="player-template">

            <div class="player">
                <div class="score"></div>
                <canvas class="tetris" width="240" height="400"></canvas>
            </div>
        
         </template>
    
    

   

    <script src="../js/tetris/tetris.js"></script>
    <script src="../js/tetris/connection-manager.js"></script>
    <script src="../js/tetris/arena.js"></script>
    <script src="../js/tetris/event.js"></script>
    <script src="../js/tetris/player.js"></script>
    <script src="../js/tetris/tetrisManager.js"></script>
    <script src="../js/tetris/main.js"></script>
</body>
</html>


