.bodyBlack{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
   
}
 
p{
 
    font-size: 2vw;
 
}
 
h1{
color: goldenrod;
font-size: 4vw;
}
 
#message-el {
font-style: italic;
color: goldenrod;
 
}
.flex{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.namn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.startGameButton{
    font-weight: bold;
    font-size: 2vw;
    color: #016f32;
    width: 23.5vw;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
    padding: 0.5em;
}

.newCardButton{
    font-weight: bold;
    font-size: 1.5vw;
    color: #016f32;
    width: 50%;
    background-color: goldenrod;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: none;
    border-radius: 2px;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
    padding: 0.5em;
}


.stopButton{
    font-weight: bold;
    font-size: 1vw;
    color: #016f32;
    width: 50%;
    background-color: goldenrod;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: none;
    border-radius: 2px;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
}
 
.logoutButton{
    font-weight: bold;
    font-size: 2vw;
    color: black;
    width: 10vw;
    background-color: goldenrod;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: none;
    border-radius: 20px;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
    margin-right: 2vw;
}

.logoutButton a
{
    color: black;
    list-style: none;
    text-decoration: none;
}

.ihopp{
    font-size: 1em;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 52.5vh;
gap: 1em;
}

