
.grid-itemRubrik {
  grid-area: rubrik;
}

.grid-itemNav {
  grid-area: nav;
  background-color: #1F2833;
}

.grid-itemGlobalChat {
  grid-area: globalChat;
  color: aliceblue;
  background-color:coral;
}

.grid-itemBildspel {
  grid-area: bildspel;
  color: aliceblue;
  background-color:coral;
}

.grid-itemNews {
  grid-area: news;
  color: aliceblue;
  background-color:coral;
}

.grid-itemNewsRubrik {
  grid-area: newsRubrik;
  color: aliceblue;
  background-color:coral;
}

.grid-item1 {
  grid-area: item1;
  color: aliceblue;
  background-color:coral;
}

.grid-item2 {
  grid-area: item2;
  color: aliceblue;
  background-color:coral;
}

.grid-item3 {
  grid-area: item3;
  color: aliceblue;
  background-color:coral;
}

.grid-item4 {
  grid-area: item4;
  color: aliceblue;
  background-color:coral;
}

.grid-item8 {
  grid-area: preFooter;
  color: aliceblue;
  background-color:coral;
}

.grid-item9 {
  grid-area: footer;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "rubrik"
    "nav"
    "globalChat"
    "bildspel"
    "news"
    "newsRubrik"
    "item1"
    "item2"
    "item3"
    "item4"
    "preFooter"
    "footer";
}
@media (max-width: 500px) {

  
  .grid-itemNav{
    font-size: 1em;
  }

  .navList{
    gap: 10px;
  }
  
}
@media (min-width: 500px) {
  
  .grid-container {
    min-height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "rubrik rubrik"
      "nav nav"
      "bildspel bildspel"
      "globalChat news"
      "preFooter preFooter"
      "footer footer";
  }
  .grid-itemNav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .grid-container {
    min-height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "rubrik rubrik rubrik"
      "nav nav nav"
      "globalChat bildspel news"
      "preFooter preFooter preFooter"
      "footer footer footer";
  }
  .grid-itemNav ul {
    flex-direction: row;
  }

  .grid-itemRubrik{font-size: x-large;}

  .navList a {

    font-size: 2.5em;

  }

}
