
.empty{
  grid-area: empty;
}

/*  <img src="../img/getRitch.jpg" alt="get ritch">*/

.grid-itemRubrik {
  grid-area: rubrik;
}

.pcoins{
  grid-area: coins;
}

.grid-itemNav {
  grid-area: nav;
  background-color: #1F2833;
}

.grid-itemGlobalChat {
  grid-area: globalChat;
  background-color:#1f2833;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-itemGlobalChat h1{
  color: #ffc759;
}

#message-container{
  background-color: aliceblue;
  height: 80%;
  width: 80%;
  margin-bottom: 5%;
  border-radius: 5%;

}

#message-container h2{
 
  color: #1F2833;
  font-size: 1em;

}




.grid-itemBildspel {
  grid-area: bildspel;
  overflow: hidden;
  position: relative;

}

.grid-itemBildspel img{
  width: 60vw;
}

.carousel-slide{
  display: flex;
  width: 100%;
  height: 100%;

}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 3em;
    color: white;
    cursor: pointer;
}

#nextBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 3em;
  color: white;
  cursor: pointer;
}





.grid-itemNews {
  grid-area: news;
  color: aliceblue;
  background-color:coral;
}

.grid-itemNewsRubrik {
  grid-area: newsRubrik;
  color: aliceblue;
  background-color:coral;
}

.grid-item1 {
  grid-area: item1;
  color: aliceblue;
  background-color:coral;
}

.grid-item2 {
  grid-area: item2;
  color: aliceblue;
  background-color:coral;
}

.grid-item3 {
  grid-area: item3;
  color: aliceblue;
  background-color:coral;
}

.grid-item4 {
  grid-area: item4;
  color: aliceblue;
  background-color:coral;
}

.grid-item8 {
  grid-area: preFooter;
  padding-bottom: 20px;
}

.grid-item9 {
  grid-area: footer;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "rubrik"
    "coins"
    "nav"
    "bildspel"
    /*"globalChat"*/
    /*"news"*/
    /*"newsRubrik"*/
    "preFooter"
    "footer";
}
@media (max-width: 500px) {

  
  .grid-itemNav{
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navList{
    gap: 10px;
    
  }
  
}
@media (min-width: 500px) {
  
  .grid-container {
    min-height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "rubrik rubrik"
      "nav nav"
      "bildspel bildspel"
      "globalChat news"
      "preFooter preFooter"
      "footer footer";
  }
  .grid-itemNav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .grid-container {
    min-height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "empty rubrik coins"
      "nav nav nav"
      "globalChat bildspel news"
      "preFooter preFooter preFooter"
      "footer footer footer";
  }
  .grid-itemNav ul {
    flex-direction: row;
  }

  .grid-itemRubrik{font-size: x-large;}

  .navList a {

    font-size: 2.5em;

  }

}
