form {
  background-color: cadetblue;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton {
  margin-bottom: 0.5em;
}

.h1form {
  background-color: #deb887;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-togehter {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-itemLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-itemRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h5 {
  font-size: small;
}
