form {
  background-color: cadetblue;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton {
  margin-bottom: 1em;
  font-size: 1.5em;
  padding: 0.5em;
}

.h1form {
  background-color: #1f2833;
  font-size: 2em;
  color: white;
  width: 15em;
height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group-togehter {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-itemLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-itemRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h5 {
  font-size: 1.5em;
}

h5 a {
  text-decoration: none;
}

h5 a:hover{
  text-decoration: underline;
}

.labelT{
  font-size: 2em;
}