.grid-itemRubrik {
    grid-area: rubrik;
  }
  
  .grid-itemNav {
    grid-area: nav;
    background-color: #1F2833;
  }

  .grid-itemLogin{
    grid-area: login;
  }
  
  .grid-itemLogin h1{

background-color: cornflowerblue;

  }
  
  .grid-item9 {
    grid-area: footer;
  }
  
  .grid-container {
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "rubrik"
      "nav"
      "login"
      "footer";
  }
  
  @media (min-width: 500px) {
    
    .grid-container {
      min-height: 100vh;
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "rubrik rubrik"
        "nav nav"
        "login login"
        "footer footer";
    }
    .grid-itemNav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 700px) {
    .grid-container {
      min-height: 100vh;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas:
        "rubrik rubrik rubrik"
        "nav nav nav"
        "login login login"
        "footer footer footer";
    }
    .grid-itemNav ul {
      flex-direction: row;
    }
  }
  